body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee;
    /* font-size: 14px; */
}

.container {
    margin: 50px auto;
    width: 300px;
    background-color: #fff;
    padding: 15px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 80px;
    background-color: #ddd;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#timer {
    background-color: #ddd;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.inactive {
    opacity: 0.4;
}